In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./clean_news_20221008.csv")

In [3]:
data

,Unnamed: 0,release_date,content
0,0,2012-08-05,interesting week many respect least three diff...
1,1,2012-09-19,pleased present sobering interview neil barofs...
2,2,2012-09-25,wind power success story green energy several ...
3,3,2012-09-27,year since major sentiment post equity market ...
4,4,2012-09-30,posting update five etf featured mebane faber ...
...,...,...,...
1463,1463,2020-02-04,goldman sachs group nyse g mulling partner e c...
1464,1464,2020-02-05,dow p 500 nasdaq climbed wednesday extend soli...
1465,1465,2020-02-06,apple nasdaq aapl wearable business poised pop...
1466,1466,2020-02-07,world wrestling entertainment streaming right ...
1467,1467,2020-02-08,amazon com nasdaq amzn tapped former right han...

In [4]:
data = data.drop(columns="Unnamed: 0")

In [5]:
data

     release_date                                            content
0      2012-08-05  interesting week many respect least three diff...
1      2012-09-19  pleased present sobering interview neil barofs...
2      2012-09-25  wind power success story green energy several ...
3      2012-09-27  year since major sentiment post equity market ...
4      2012-09-30  posting update five etf featured mebane faber ...
...           ...                                                ...
1463   2020-02-04  goldman sachs group nyse g mulling partner e c...
1464   2020-02-05  dow p 500 nasdaq climbed wednesday extend soli...
1465   2020-02-06  apple nasdaq aapl wearable business poised pop...
1466   2020-02-07  world wrestling entertainment streaming right ...
1467   2020-02-08  amazon com nasdaq amzn tapped former right han...

[1468 rows x 2 columns]