In [1]:
import yfinance as yf

In [2]:
VIX = yf.Ticker("^VIX")

VIX

yfinance.Ticker object <^VIX>

In [3]:
VIX_historical = VIX.history(start = "2012-01-01", end = "2022-01-01", interval = "1d")

VIX_historical

- ^VIX: No data found for this date range, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [4]:
SP = yf.Ticker("^GSPC")

SP

yfinance.Ticker object <^GSPC>

In [5]:
SP_historical = SP.history(start = "2012-01-01", end = "2022-01-01", interval = "1d")

SP_historical

- ^GSPC: No data found for this date range, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []