In [1]:
import yfinance as yf

In [2]:
RFR = yf.Ticker("^TNX")

RFR

yfinance.Ticker object <^TNX>

In [3]:
RFR_historical = RFR.history(start = "2012-01-01", end = "2022-01-01", interval = "1d")

RFR_historical

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2012-01-03  1.951  1.965  1.914  1.960       0          0             0
2012-01-04  1.937  2.012  1.933  1.995       0          0             0
2012-01-05  1.991  2.021  1.944  1.993       0          0             0
2012-01-06  2.003  2.044  1.946  1.961       0          0             0
2012-01-09  1.975  1.986  1.919  1.960       0          0             0
...           ...    ...    ...    ...     ...        ...           ...
2021-12-27  1.489  1.494  1.476  1.481       0          0             0
2021-12-28  1.486  1.489  1.455  1.481       0          0             0
2021-12-29  1.505  1.558  1.505  1.543       0          0             0
2021-12-30  1.531  1.550  1.513  1.515       0          0             0
2021-12-31  1.505  1.522  1.491  1.512       0          0             0

[2515 rows x 7 columns]

In [4]:
RFR_historical.to_csv("./RiskFreeRate.csv")